<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="./css/main.css">
    </head>

    <body>
    <div class = "container">
        <div id="control">
            <a href="/upload"><input type = "button" value = "上传文件" class = "start"></a><br>
            <a href="/file"><input type = "button" value = "查看文件" class="start"></a>
        </div>
        <div class="desc">©Songroger | HFS(Powerd by Go)</div>
    </div>
    </body>
</html>
