<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class = "container">
        <div id="control">
            <!-- <input type = "button" value = "display" id="display" onclick = "ajaxPost('http://127.0.0.1:8000/list')" class = "start">
             -->
            <div class="desc">©Songroger | HFS(Powerd by Go)</div>
        </div>
    </div>
<script type="text/javascript">
    window.onload=ajaxPost('http://127.0.0.1:8000/list')
    //显示处理
    function contentHandler(text) {
        // console.log(text);
        var draw = document.getElementById("control");
        for (var i = 0; i<text.length;i++) {
            // console.log(text[i]);
            draw.innerHTML += "<a href='/"+ text[i].name+"'>"+text[i].name+"</a><br>";
        }
        // document.getElementById("display").style.display="none";
        // document.getElementById("start").style.display="none";

    }

    // ajax 对象
    function ajaxObject() {
        var xmlHttp;
        try {
            // Firefox, Opera 8.0+, Safari
            xmlHttp = new XMLHttpRequest();
            } 
        catch (e) {
            // Internet Explorer
            try {
                    xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e) {
                try {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                } catch (e) {
                    alert("您的浏览器不支持AJAX！");
                    return false;
                }
            }
        }
        return xmlHttp;
    }

    // ajax请求：
    function ajaxPost (url) {
        var ajax = ajaxObject();
        ajax.open( "get" , url , true );
        ajax.setRequestHeader( "Content-Type" , "application/json" );
        ajax.onreadystatechange = function () {
            if( ajax.readyState == 4 ) {
                if( ajax.status == 200 ) {
                    // console.log(ajax.responseText);
                    var textobj = JSON.parse(ajax.responseText); 
                    contentHandler(textobj);
                }
                else {
                    alert( "请求错误！错误码："+ajax.status );
                    window.location.href=window.location.href;
                    // window.location.reload();
                    //document.getElementById("start").style.display="block";
                }
            }
            };
        ajax.send();
    }
</script>
</body>

</html>
