<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{.}}</title>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div class = "container">
        <div id="control">
            <form enctype="multipart/form-data" action="/upload" method="post">
              <input type="file" name="uploadfile" class="start"/><br>
              <input type="submit" value="upload" class="start"/>
            </form>
            <div class="desc">©Songroger | HFS(Powerd by Go)</div>
        </div>
    </div>
</body>
</html>